= form_tag codemarks_url, id: "codemark_form", class: 'second' do
  = submit_tag 'Save', :class => 'btn primary submit'
  %p
    = text_field_tag "codemark[title]", '', :placeholder => 'Title', :name => 'title'
    = text_area_tag "resource[text]", '', :placeholder => 'Whatever\'s on your mind', :name => 'text'
  .clear
  = render '/codemarks/topic_tags_list', :pos_topics => []
  = render '/layouts/search', :prefix => 'link_form', :placeholder => "Add topic tags..."
