= form_tag new_codemark_path, id: "codemark_form", class: 'first', remote: true, :method => :get do
  #first
    = url_field_tag "url", nil, placeholder: "paste full link URL here"
    = hidden_field_tag "resource_attrs[id]", nil
    = hidden_field_tag "id", nil
    = submit_tag "Add Link", :id => 'fetch', class: 'btn primary small'
