:javascript
  $("#codemark_form").keyup(function(e) {
    if (e.keyCode == 13) {
      e.preventDefault();
    }
  });

  $("#link_form_topic_autocomplete").keydown(function(e) {
    if (e.keyCode == 13) {
      if($("#link_form_topic_count").val() == 0) {
        e.preventDefault();

        var entered = $("#link_form_topic_autocomplete").val();
        $.ajax({
          url: "/links/topic_checkbox",
          data: { topic_title: entered},
          beforeSend: function(request) { request.setRequestHeader("Accept", "text/javascript"); }
        });
      }
    }
  });

  $(document).keyup(function(e) {
    if (e.keyCode == 27) {
      $('#codemark_form').replaceWith("#{ escape_javascript(render('/codemarks/form')) }");
    }
  });

  var topics_count = $("#topic_tags li").length;
  if(topics_count == 0) {
    $("#codemark_form input[type=submit]").attr('disabled', 'disabled');
  }

= form_tag codemarks_path, id: "codemark_form", class: 'second' do
  #first
    = url_field_tag "resource_attrs[url]", @codemark.resource.url
    = submit_tag "Add Link", :id => 'fetch', :class => "btn primary"
  #second
    = text_field_tag "codemark_attrs[archived]", 'false', :type => :hidden
    = text_field_tag "resource_attrs[id]", @codemark.resource.id, :type => :hidden
    = text_field_tag "resource_attrs[host]", @codemark.resource.host, :type => :hidden
    = text_field_tag "resource_attrs[title]", @codemark.resource.title, :placeholder => "Title"
    = render '/codemarks/topic_tags_list', :pos_topics => @codemark.topics
    = render '/layouts/search', :prefix => 'link_form', :placeholder => "Add topic tags..."
    .clear
