= form_tag codemarks_url, id: "codemark_form", class: 'second' do
  #first
    = hidden_field_tag "codemark[resource_id]]", @codemark.resource.id
    = hidden_field_tag "codemark[resource_type]]", 'LinkRecord'
    = url_field_tag '', @codemark.resource.url
    = submit_tag "Add Link", :id => 'fetch', :class => "btn primary"
  #second
    %p
      = label_tag 'Title'
      = text_field_tag "codemark[title]", @codemark.title || @codemark.resource.title, :placeholder => "Title"
      .clear
    %p
      = label_tag 'Private Note'
      = text_area_tag "codemark[note]", @codemark.note, :placeholder => "Note"
      .clear
    .clear
    = render '/codemarks/topic_tags_list', :pos_topics => @codemark.tags
    = render '/layouts/search', :prefix => 'link_form', :placeholder => "Add topic tags..."
