%li.alert-message.warning
  = check_box_tag "topic_ids[#{topic.id}]", topic.id, :checked, :type => :hidden, :id => "topic_chb_#{topic.slug}"
  .title= topic.title
  .delete= link_to 'X', '#'
  .clear
