:javascript
  $("#codemark_form").keyup(function(e) {
    if (e.keyCode == 13) {
      e.preventDefault();
    }
  });

  $(document).keyup(function(e) {
    if (e.keyCode == 27) {
      $('#codemark_form').replaceWith("#{ escape_javascript(render('/codemarks/form')) }");
    }
  });

  var topics_count = $("#topic_tags li").length;
  if(topics_count == 0) {
    $("#codemark_form input[type=submit]").attr('disabled', 'disabled');
  }

  $(function() {
    $("#topic_tags .delete").click(function(event) {
      event.preventDefault();
      $(event.currentTarget).closest("li").fadeOut(100, function() {
        $(this).remove();
        var topics_count = $("#topic_tags li").length;
        if(topics_count == 0) {
          $("#codemark_form input[type=submit]").attr('disabled', 'disabled');
          //$("#save_codemark").attr('disabled', 'disabled');
        }
      });
    });
  });

= form_tag codemarks_url, id: "codemark_form", class: 'second', :remote => true do
  #first
    = url_field_tag "resource_attrs[url]", @codemark.resource.url
    = submit_tag "Add Link", :id => 'fetch', :class => "btn primary"
  #second
    = text_field_tag "codemark_attrs[archived]", 'false', :type => :hidden
    = text_field_tag "resource_attrs[id]", @codemark.resource.id, :type => :hidden
    = text_field_tag "resource_attrs[host]", @codemark.resource.host, :type => :hidden
    = text_field_tag "resource_attrs[title]", @codemark.resource.title, :placeholder => "Title"
    = render '/codemarks/topic_tags_list', :pos_topics => @codemark.topics
    .clear
