%header
  .left
    = user_image(@user)
    %h1= @codemark.title
    %h6
      - if @user.get(:name)
        .name.inline= link_to @user.get(:name), @user
      - if @user.get(:nickname)
        .nickname.inline= link_to "@#{@user.get(:nickname)}", @user
      .time_ago #{time_ago_in_words(@codemark.created_at)} ago

  .right
    = link_to 'edit', 'woof' if @user == current_user
  .clear

%article
  = render "show_text_record", :codemark => @codemark, :user => @user

%aside
