%header
  .left
    = user_image(@author)
    %h1= @codemark.title
    %h6
      - if @author.get(:name)
        .name.inline= link_to @author.get(:name), @author
      - if @author.get(:nickname)
        .nickname.inline= link_to "@#{@author.get(:nickname)}", @author
      .time_ago #{time_ago_in_words(@codemark.created_at)} ago

  .right
    = link_to 'edit', edit_codemark_path(@codemark) if @author == current_user
  .clear

%ul.topics_list
  - @codemark.topics.each do |topic|
    %li= link_to topic.title, codemarks_path(:topic_ids => topic.slug)
  .clear

%article
  = render "show_#{@codemark.resource_type_underscore}", :codemark => @codemark, :user => @user

%aside
