%header
  .left
    = user_image(@user)
    %h1= @codemark.title
    %h6
      - if @user.get(:name)
        .name.inline= link_to @user.get(:name), @user
      - if @user.get(:nickname)
        .nickname.inline= link_to "@#{@user.get(:nickname)}", @user
      .time_ago #{time_ago_in_words(@codemark.created_at)} ago

  .right
    = link_to 'edit', edit_codemark_path(@codemark) if @author == current_user
  .clear

%ul.topics_list
  - @codemark.topics.each do |topic|
    %li= link_to topic.title, codemarks_path(:topic_ids => topic.slug)
  .clear

%article
  = render "show_#{@codemark.resource_type_underscore}", :codemark => @codemark, :user => @user

%aside
