= form_for @topic do |form|
  - if @topic.errors.present?
    .errors
      - @topic.errors.full_messages.each do |err|
        = err
  .inputs
    = form.label :title
    %br
    = form.text_field :title
    %br
    = form.label :description
    %br
    = form.text_area :description
  = form.submit
