#topic_details
  %p.title= link_to @topic.title, @topic, :class => "title"
  %ul.data.piped
    %li.first.last= pluralize(@topic.resource_count(current_user, filter_by_mine?), "link")
  .admin_links
    = link_to "Edit", edit_topic_path(@topic)
    =# link_to "Delete", @topic, :method => :delete
  .clear
  = render 'sponsored_sites'
  %p.description= @topic.description
  .clear

#list_box
  = render 'resources_list_header'
  = render '/links/links'
