.left
  = link_to "Edit", edit_topic_path(@topic)
  |
  = link_to "Delete", topic_path(@topic), :method => :delete, :confirm => "You sure?"
.clear
%h1.left= @topic.title
- unless @topic.sponsored_sites.empty?
  %ul.right.sponsored_sites
    = render @topic.sponsored_sites
.clear
%p= @topic.description
%br
%h3.left Resources
.right
  = link_to "Clicks", topic_path(@topic, :sort => "clicks"), :remote => true
  = link_to "Saves", topic_path(@topic, :sort => "save_count"), :remote => true
.clear
%ul#resource_list
  = render @resources
