.left
  = link_to "Edit", edit_topic_path(@topic)
  |
  = link_to "Delete", topic_path(@topic), :method => :delete, :confirm => "You sure?"
.clear
%h1.left= @topic.title
- unless @topic.sponsored_sites.empty?
  %ul.right.sponsored_sites
    = render @topic.sponsored_sites
.clear
%p= @topic.description
%br
#list_box
  = render 'resources_list_header'
  = render '/links/links'
