#page_details
  %p.title= link_to @topic.title, @topic, :class => "title"
  %ul.data.piped
    %li.last= link_to "Edit", edit_topic_path(@topic)
  .clear
  %p.description= @topic.description
  .clear

/REPLACE THIS LATER
#filters_and_sorts
  %ul.tabs#filters
    - if logged_in?
      %li{:class => active_page_class([topic_user_path(@topic, current_user)])}
        = link_to current_user.nickname, topic_user_path(@topic, current_user)
    - else
      %li
        = link_to 'sign up', root_path
    %li{:class => active_page_class([topic_path(@topic)])}
      = link_to "public", topic_path(@topic)
    - if @user && @user.id != current_user_id
      %li{:class => active_page_class([topic_user_path(@topic, @user)])}
        = link_to @user.nickname, topic_user_path(@topic, @user)

.clear
= render 'shared/codemark_list', :codemarks => @codemarks
= paginate @codemarks, :window => 5, :param_name => :page
