%h1.left= @topic.title
- unless @topic.sponsored_sites.empty?
  %ul.right.sponsored_sites
    = render @topic.sponsored_sites
.clear
.right
  = link_to "Edit", edit_topic_path(@topic)
  = link_to "Delete", topic_path(@topic), :method => :delete, :confirm => "You sure?"
  = link_to "Add Link", new_link_path(:topic_id => @topic.id)
.clear
%p= @topic.description
%ul#resource_list
  = render @topic.links
