#topic_details
  %p.title= link_to @topic.title, @topic, :class => "title"
  %ul.data.piped
    %li.first= pluralize(@topic.resource_count(current_user, filter_by_mine?), "link")
    %li.last= link_to "Edit", edit_topic_path(@topic)
    /li=# link_to "Delete", @topic, :method => :delete
  = render 'sponsored_sites'
  .clear
  %p.description= @topic.description
  .clear

#list_box
  = render 'resources_list_header'
  = render '/links/links'
