#page_details
  %p.title= link_to @topic.title, @topic, :class => "title"
  %ul.data.piped
    %li.last= link_to "Edit", edit_topic_path(@topic)
  .clear
  %p.description= @topic.description
  .clear

= render '/users/codemark_filters', :tabs => false

%ul#codemarks
  - @codemarks.each do |c|
    = render 'shared/codemark', :codemark => c
= paginate @codemarks, :window => 5, :param_name => :page
