%h1.left= @topic.title
.right
  = link_to "Edit", edit_topic_path(@topic)
  = link_to "Delete", topic_path(@topic), :method => :delete, :confirm => "You sure?"
.clear
%p= @topic.description
- unless @topic.sponsored_sites.empty?
  %ul
    = render @topic.sponsored_sites
