- link = reminder.link
%li{:id => "#{dom_id(link)}_li"}
  %p.title= link_to link.title, link.url, :target => :blank, :class => "resource_link", :id => "#{dom_id(link)}"
  %ul.data
    %li= render '/links/reminder', :link => link
  .admin_links
    - if reminder.completed?
      Completed #{time_ago_in_words(reminder.updated_at)} ago
    - else
      Set #{time_ago_in_words(reminder.created_at)} ago
  .clear
  %ul.topics_list.piped
    - topics = link.most_popular_topics(5)
    - topics.each_with_index do |topic, i|
      - classes = []
      - classes << 'first' if i == 0
      - classes << 'last' if i == topics.size-1
      %li{:class => classes.join(" ")}
        = link_to topic.title, topic
  = render '/links/click_form', :link_id => link.id
  .clear
