#account
  %h3
    - if @user.get(:image).present?
      = image_tag @user.get(:image), class: "account"
    = "#{@user.get(:name)}" if @user.get(:name)
    = "#{@user.get(:nickname)}" if @user.get(:nickname)
    = link_to "Edit", edit_account_path
  %br
  %br
  .nickname
    Nickname:
    = @user.nickname
  .email
    Email:
    = @user.get(:email)
  .description
    Description:
    = @user.get(:description)
  .location
    Location:
    = @user.get(:location)
  %br
  %h4 Authentications (click on image link to add authentication)
  .icons
    - twit = image_tag 'twitter.png'
    - if @user.authentication_by_provider(:twitter).present?
      = twit
      Twitter already added
    - else
      = link_to twit, '/auth/twitter'
    %br
    - git = image_tag 'github.png'
    - if @user.authentication_by_provider(:github).present?
      = git
      Github already added
    - else
      = link_to git, '/auth/github'
  #mc_embed_signup
    = form_tag 'http://codemarks.us5.list-manage.com/subscribe/post?u=82e6caa040cf5816ff046f1fd&amp;id=fe2d7ff8fb', :id => 'mc-embedded-subscribe-form', :name => "mc-embedded-subscribe-form", :class => "validate", :target => "_blank" do
      = label_tag 'Subscribe to our mailing list'
      = email_field_tag 'EMAIL'
      .clear
      = submit_tag 'Subscribe', :name => 'subscribe', :id => 'mc-embedded-subscribe', :class => 'button'
