= form_for @user do |form|
  .inputs 
    = form.label :email
    = form.email_field :email, value: @user.get(:email)
  .inputs 
    = form.label :location
    = form.text_field :location, value: @user.get(:location)
  .inputs 
    = form.label :description
    = form.text_area :description, value: @user.get(:description)
  .inputs 
    = form.label :nickname
    = form.text_field :nickname, value: @user.get(:nickname)

  = form.submit "Save"
