.users
  - @users.each do |user|
    .user
      %a{:href => user_path(user)}
        = user_image(user) || content_tag(:div, '', :class => 'icon-user user_image')
        %h1.name= user.get(:name) || 'John Doe'
        %br
        %br
        .nickname= '@' + user.get(:nickname)
        .auths
          = user_auth_link(user, :twitter, current_user)
          = user_auth_link(user, :github, current_user)
        .codemark_count{:title => 'Codemarks saved'}
          %span.c c
          %span.m m
          = user.cm_count
        .clicks_count.icon-eye{:title => 'Codemarks visited'}= user.click_count
        .clear
  .clear
