- unless @user.email.present?
  = form_for @user do |form|
    = form.email_field :email
    = form.submit :Save

Email: #{@user.email}


= link_to "sign in with twitter", sign_in_path(:twitter), :class => "btn-auth btn-twitter", id: "twitter_signin" unless @user.authentication_by_provider(:twitter).present?
= link_to "sign in with github", sign_in_path(:github), :class => "btn-auth btn-github", id: "github_signin" unless @user.authentication_by_provider(:github).present?
