#profile
  %h3
    - if @user.get(:image).present?
      = image_tag @user.get(:image), class: "profile"
    = "#{@user.get(:name)}" if @user.get(:name)
    = "(#{@user.get(:nickname)})" if @user.get(:nickname)
    = link_to "Edit", edit_profile_path
    .icons
      - twit = image_tag 'twitter.png'
      - if @user.authentication_by_provider(:twitter).present?
        = twit
      - else
        = link_to twit, sign_in_path(:twitter)
      - git = image_tag 'github.png'
      - if @user.authentication_by_provider(:github).present?
        = git
      - else
        = link_to git, sign_in_path(:github)
    .subtle
      = "#{@user.get(:email)}" if @user.get(:email)
      %br
      = "#{@user.get(:description)}" if @user.get(:description)
      %br
      = "#{@user.get(:location)}" if @user.get(:location)
  .clear
