- unless @user.email.present?
  = form_for @user do |form|
    = form.email_field :email, :placeholder => "email"
    = form.submit :Save

Email: #{@user.email}

- if @user.authentication_by_provider(:twitter).present?
  Twitter authenticated
- else
  = link_to "sign in with twitter", sign_in_path(:twitter), :class => "btn-auth btn-twitter", id: "twitter_signin" 

- if @user.authentication_by_provider(:github).present?
  Github authenticated
- else
  = link_to "sign in with github", sign_in_path(:github), :class => "btn-auth btn-github", id: "github_signin" 
