#profile
  #{image_tag @user.get(:image), class: "profile"}
  %h3
    = "#{@user.get(:name)}" if @user.get(:name)
    = "(#{@user.get(:nickname)})" if @user.get(:nickname)
    .icons
      - twit = image_tag 'twitter.png'
      - if @user.authentication_by_provider(:twitter).present?
        = twit
      - else
        = link_to twit, sign_in_path(:twitter)
      - git = image_tag 'github.png'
      - if @user.authentication_by_provider(:github).present?
        = git
      - else
        = link_to git, sign_in_path(:github)
    .subtle
      = "#{@user.get(:email)}" if @user.get(:email)
      = "#{@user.get(:description)}" if @user.get(:description)
      = "#{@user.get(:location)}" if @user.get(:location)
  .clear
    
  Location: #{@user.get(:location)}

  - if @user.authentication_by_provider(:twitter).present?
    Twitter authenticated
  - else
    = link_to "sign in with twitter", sign_in_path(:twitter), :class => "btn-auth btn-twitter", id: "twitter_signin" 

  - if @user.authentication_by_provider(:github).present?
    Github authenticated
  - else
    = link_to "sign in with github", sign_in_path(:github), :class => "btn-auth btn-github", id: "github_signin" 
