.side
  = user_image(@user)

  %h1.name= @user.get(:name) if @user.get(:name)
  .nickname= '@' + @user.get(:nickname) if @user.get(:nickname)
  - if current_user && current_user == @user
    .edit= link_to "Edit", edit_user_path(@user)

  .clear

  .authentications
    = user_auth_link(@user, :twitter, current_user)
    = user_auth_link(@user, :github, current_user)
    - if current_user && current_user == @user && @user.authentications.count < 2
      (Click to authenticate)

  .details
    = user_description(@user)
    = user_location(@user)
    = user_email(@user)

  .clear
