:javascript
  $(function() {
    $("#welcome_link_form_container #url_form").submit(function() {
      $("#link_form_container #url").val($("#welcome_link_form_container #url").val());
      $("#welcome_link_form_container").fadeOut(1200);
    });
  });
#welcome
  #banner
  #banner_text
    %h2 Welcome to Codemarks!
    %h3 save your email
    %br
    = form_for current_user, remote: true do |form|
      = form.email_field :email
      = form.submit 'save'
    %h4.email
    #welcome_link_form_container
      = render '/codemarks/form'
      .clear


  %ul#site_explanation.piped
    %li.first
      %h4 Online
      %p You can add more here at codemarks or, on any sites that have the #{link_to 'codemark widget', widget_path}
    %li 
      %h4 Email
      %p Send any codemarks you want to save or share to #{link_to 'save@codemarks.org', 'mailto: save@codemarks.org'}
    %li.last
      %h4 Twitter
      %p Coming soon - tweet your codemarks to #{link_to '@codemarks', 'https://www.twitter.com/#/codemarks'} and we'll take it from there

