:javascript
  $(function() {
    $("#welcome_form").submit(function(event) {
      var email = $("#user_email").val();
      var newsletter = $('#newsletter').attr('checked');
      if(newsletter == 'checked') {
        var $newsletter_form = $('#mc-embedded-subscribe-form');
        $newsletter_form.find('#EMAIL').val(email);
        $newsletter_form.submit();
      }
    });

    if( $("#banner_text h3").html() != "save your email" ) {
      $("#welcome_link_form_container").show();
    }

    email = $('#user_email').val();
    if(email != '') {
      window.location = '/about'
    }


  });
#welcome
  #banner
  #banner_text
    .clear
    = hidden_field_tag 'user_email', current_user.email
    .no_email
      %br
      %br
      %br
      %h3 Save your email
      %br
      = form_for current_user, :remote => true, :html => {:id => 'welcome_form'} do |form|
        %p
          = form.email_field :email, :placeholder => 'john.doe@gmail.com'
          = check_box_tag :newsletter
          = label_tag 'add me to the newsletter'
        %p
          = form.submit 'save'
        = link_to 'no thanks', about_path, id: "no_thanks"

      #mc_embed_signup
        = form_tag 'http://codemarks.us5.list-manage.com/subscribe/post?u=82e6caa040cf5816ff046f1fd&amp;id=fe2d7ff8fb', :id => 'mc-embedded-subscribe-form', :name => "mc-embedded-subscribe-form", :class => "validate", :target => "_blank" do
          = label_tag 'Subscribe to our mailing list'
          = email_field_tag 'EMAIL'
