:javascript
  $(function() {
    $("#welcome_link_form_container #codemark_form").submit(function() {
      $("#link_form_container #url").val($("#welcome_link_form_container #url").val());
      $("#welcome_link_form_container").fadeOut(1200);
    });

    if( $("#banner_text h3").html() != "save your email" ) {
      $("#welcome_link_form_container").show();
    }

    $("a#no_thanks").click(function() {
      $(this).hide();
      $("#banner_text h3").html("No worries. Get started by adding your first codemark");

      $(".edit_user").fadeOut(500, function() {
        $(this).remove();
        $("#welcome_link_form_container").show();
      });
    });

  });
#welcome
  #banner
  #banner_text
    %h2 Welcome to Codemarks!
    - if current_user.email.present?
      %h3 
        Thanks #{current_user.email}.  
        %br 
        %br 
        Get start by adding your first codemark.
    - else
      %h3 save your email
      %br
      = form_for current_user, remote: true do |form|
        = form.email_field :email
        = form.submit 'save'
      = link_to 'no thanks', '#', id: "no_thanks"
    #welcome_link_form_container
      = render '/codemarks/form'
      .clear

    = stylesheet_link_tag 'http://cdn-images.mailchimp.com/embedcode/slim-081711.css'
    :css
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

    #mc_embed_signup
    = form_tag 'http://codemarks.us5.list-manage.com/subscribe/post?u=82e6caa040cf5816ff046f1fd&amp;id=fe2d7ff8fb', :id => 'mc-embedded-subscribe-form', :name => "mc-embedded-subscribe-form", :class => "validate", :target => "_blank" do
      = label_tag 'Subscribe to our mailing list'
      = email_field_tag 'EMAIL'
      .clear
      = submit_tag 'Subscribe', :name => 'subscribe', :id => 'mc-embedded-subscribe', :class => 'button'

  %ul#site_explanation.piped
    %li.first
      %h4 Online
      %p You can add codemarks here at #{link_to 'codemarks', root_path} or on any sites that have the soon to come codemark widget
    %li 
      %h4 Email
      %p Send any codemarks you want to save or share to #{link_to 'save@codemarks.org', 'mailto: save@codemarks.org'}
    %li.last
      %h4 Twitter
      %p Coming soon - tweet your codemarks to #{link_to '@codemarks', 'https://www.twitter.com/#/codemarks'} and we'll take it from there

