:javascript
  $(function() {
    $("#welcome_form").submit(function(event) {
      console.log('Woooo');
      var email = $("#user_email").val();
      var newsletter = $('#newsletter').attr('checked');
      if(newsletter == 'checked') {
        var $newsletter_form = $('#mc-embedded-subscribe-form');
        $newsletter_form.find('#EMAIL').val(email);
        $newsletter_form.submit();
      }
    });

    if( $("#banner_text h3").html() != "save your email" ) {
      $("#welcome_link_form_container").show();
    }

    $("a#no_thanks").click(function(event) {
      event.preventDefault();
      $('.no_email').fadeOut(300, function() {
        $('.has_email').fadeIn(300);
      });
    });

    email = $('#user_email').val();
    if(email != '') {
      $('.no_email').hide();
      $('.has_email').show();
    }


  });
#welcome
  #banner
  #banner_text
    = hidden_field_tag 'user_email', current_user.email
    .no_email
      %h3 Just a few more account items before you're ready to go
      %br
      = form_for current_user, :remote => true, :html => {:id => 'welcome_form'} do |form|
        %p
          = label_tag 'Save your email'
          = form.email_field :email, :placeholder => 'john.doe@gmail.com'
        %p
          = check_box_tag :newsletter
          = label_tag 'Subscribe to our newsletter'
        = form.submit 'save'
      = link_to 'no thanks', '', id: "no_thanks"

      #mc_embed_signup
        = form_tag 'http://codemarks.us5.list-manage.com/subscribe/post?u=82e6caa040cf5816ff046f1fd&amp;id=fe2d7ff8fb', :id => 'mc-embedded-subscribe-form', :name => "mc-embedded-subscribe-form", :class => "validate", :target => "_blank" do
          = label_tag 'Subscribe to our mailing list'
          = email_field_tag 'EMAIL'
          .clear
          = submit_tag 'Subscribe', :name => 'subscribe', :id => 'mc-embedded-subscribe', :class => 'button'
    .has_email
      %ul#site_explanation.piped
        %li.first
          %h4 Codemarklet
          %p 
            Drag this
            %br
            = link_to 'Codemarklet', bookmarklet_url, :id => 'bookmarklet'
            %br
            to your bookmark bar to save Codemarks from anywhere
        %li 
          %h4 Chrome Extension
          %p
            Download the official
            %br
            = link_to 'Chrome Extension', 'https://chrome.google.com/webstore/search/codemarks', :target => '_blank'
            %br
            to save Codemarks from Google Chrome

        %li.last
          %h4 @codemarks
          %p
            Follow
            %br
            = link_to '@codemarks', 'https://twitter.com/intent/user?region=follow&screen_name=codemarks&source=followbutton&variant=2.0', :target => '_blank'
            %br
            for the latest features, updates, and more

      .clear
      #get_going
        View some
        = link_to 'codemarks', public_codemarks_path

