- link = codemark.link_record
- author = codemark.resource_author || codemark.user
- name = author.get(:nickname) || author.get(:name)
- other_count = codemark.save_count.to_i-1

- if link
  %li.codemark{:id => dom_id(codemark) }
    = hidden_field_tag 'codemark_id', codemark.id
    = hidden_field_tag 'click_url', click_link_path(link.id)
    %h3
      = link_to link.title, link.url, :target => :blank, :class => 'codemark_link'
    .actions
      - if codemark.note.present?
        .show_note
      - if codemark.user == current_user
        .edit_codemark
      - if logged_in?
        = render '/codemarks/ownership_link', :codemark => codemark
    .clear
    .details
      %span.host #{link.host} -
      = time_ago_in_words(link.created_at)
      ago
      - if name.present?
        by 
        - if author.get(:image).present?
          = image_tag author.get(:image)
        = link_to name, short_user_path(author)
        - if other_count > 0
          and #{codemark.save_count.to_i-1 } others
    .clear
    = render '/shared/codemark_topics', link: link, topics: codemark.topics
    .tweet_button
      = render '/codemarks/share_tweet_link', :codemark => codemark
    .clear

    .note
      = codemark.note
