%li{:id => "#{dom_id(link)}_li"}
  = render '/links/click_form', link_id: link.id
  %h4
    #{click_count + save_count}
    = link_to link.title, link.url, :target => :blank, :class => 'codemark'
  .time Saved #{time_ago_in_words(link.created_at)}
  /.saver Saved by #{link.codemarks.first.user.email}
  .clear
  = link.host
  
