- link = codemark.link_record
%li.codemark{:id => "#{dom_id(link)}_li"}
  = render '/links/click_form', link_id: link.id
  %h3
    = link_to link.title, link.url, :target => :blank, :class => 'codemark_link'
    %span.host #{link.host}
  .clear
  = render '/shared/codemark_topics', link: link, topics: codemark.topics
  .details
    .time #{time_ago_in_words(link.created_at)} ago
    - author = codemark.user
    - name ||= author.get(:nickname)
    - name ||= author.get(:name)
    - other_count = codemark.save_count.to_i-1
    - if name.present?
      .saver
        by #{link_to name, user_path(author)}
        - if other_count > 0
          and #{codemark.save_count.to_i-1 } others
      - if author == current_user
        \-
        = link_to "edit", "", :class => "edit_codemark"
    .clear
