- link = codemark.link_record
- author = codemark.resource_author || codemark.user
- name = author.get(:nickname) || author.get(:name)
- other_count = codemark.save_count.to_i-1
- mine = logged_in? && codemark.user == current_user

- if link
  %li.codemark{:id => dom_id(codemark) }
    = hidden_field_tag 'codemark_id', codemark.id
    = hidden_field_tag 'click_url', click_link_path(link.id)
    - if mine
      .corner.delete
    .actions
      - if mine
        = link_to 'Edit', '', :class => 'edit_codemark'
      - else
        = link_to 'Save', '', :class => 'copy_codemark'
      = link_to 'Comments', '', :class => 'show_comments'
      = link_to 'Share', 'http://twitter.com/share', :class => 'twitter_popup', :'data-tweet-text' => tweet_text(codemark)
    %h3
      = link_to codemark.title || codemark.link_record.title, link.url, :target => :blank, :class => 'codemark_link'
      .host= link.host

    - if mine && codemark.note.present?
      .note
        = codemark.note

    .clear
    .details
      = time_ago_in_words(link.created_at)
      ago
      - if name.present?
        by 
        - if author.get(:image).present?
          = image_tag author.get(:image)
        = link_to name, short_user_path(author)
        - if other_count > 0
          - others_count = codemark.save_count.to_i-1
          and #{pluralize others_count, 'other'}

    = render '/shared/codemark_topics', link: link, topics: codemark.topics
    .clear
    .comments
      %ul
        - codemark.comments.select { |comment| comment.author.present? }.each do |comment|
          = render '/comments/comment', :comment => comment
      - if logged_in?
        = render 'shared/comment_form', :codemark => codemark
