- link = codemark.link_record
- author = codemark.resource_author || codemark.user
- name = author.get(:nickname) || author.get(:name)
- other_count = codemark.save_count.to_i-1
- mine = logged_in? && codemark.user == current_user

- if link
  %li.codemark{:id => dom_id(codemark) }
    = hidden_field_tag 'codemark_id', codemark.id
    = hidden_field_tag 'click_url', click_link_path(link.id)
    - if mine
      .corner.delete
    .actions
      = link_to 'comments', '', :class => 'show_comments'
      - if mine && codemark.note.present?
        = link_to 'note', '', :class => 'show_note'
      - if mine
        = link_to 'edit', '', :class => 'edit_codemark'
      - else
        = link_to 'copy', '', :class => 'copy_codemark'
    %h3
      = link_to codemark.title || codemark.link_record.title, link.url, :target => :blank, :class => 'codemark_link'
    .clear
    .details
      %span.host #{link.host} -
      = time_ago_in_words(link.created_at)
      ago
      - if name.present?
        by 
        - if author.get(:image).present?
          = image_tag author.get(:image)
        = link_to name, short_user_path(author)
        - if other_count > 0
          - others_count = codemark.save_count.to_i-1
          and #{pluralize others_count, 'other'}
    .clear
    = render '/shared/codemark_topics', link: link, topics: codemark.topics
    .tweet_button
      = render '/codemarks/share_tweet_link', :codemark => codemark
    .clear

    .note
      Note
      = codemark.note

    .comments
      %ul
        - codemark.comments.select { |comment| comment.author.present? }.each do |comment|
          = render '/comments/comment', :comment => comment
      - if logged_in?
        = render 'shared/comment_form', :codemark => codemark
