- link = codemark.link_record
%li.codemark{:id => "#{dom_id(link)}_li"}
  = render '/links/click_form', link_id: link.id
  %h3
    = link_to link.title, link.url, :target => :blank
    %span.host #{link.host}
  .clear
  = render '/shared/codemark_topics', link: link, topics: codemark.topics
  .details
    - author = codemark.user
    - name ||= author.get(:nickname)
    - name ||= author.get(:name)
    - if name.present?
      .saver By #{link_to name, user_path(author)}
    .time #{time_ago_in_words(link.created_at)} ago
    .clear
