= form_for @link, :html => {:id => "link_form"} do |form|
  = form.label :url
  = form.url_field :url
  %br
  = form.label :title
  = form.text_field :title
  = render '/layouts/search', :id => 'link_search_autocomplete'
  %ul.half_left
    - @pos_topics1.each do |topic|
      = render 'topic_checkbox_item', :topic => topic
  %ul.half_right
    - @pos_topics2.each do |topic|
      = render 'topic_checkbox_item', :topic => topic
  = form.submit
  - if logged_in?
    = render 'link_preference_fields', :form => form
