= form_for @link, :html => {:id => "link_form"} do |form|
  = form.label :url
  = form.url_field :url
  %br
  = form.label :title
  = form.text_field :title

  %ul
    - @possible_topics.each do |topic|
      %li
        = check_box_tag "topic_ids[]", topic.id
        = topic.title
  - if logged_in?
    = render 'link_preference_fields', :form => form
  .clear
  .right= form.submit
