%li{:id => "#{dom_id(link)}_li"}
  .left
    = link_to link.title, link.url, :target => :blank, :class => "resource_link", :id => "#{dom_id(link)}"
    = " - #{link.save_count} saves"
    = " - #{link.clicks.count} clicks"
    = " - created by #{link.user.email}" if link.user.present?
    = render '/links/click_form', :link_id => link.id
  .right
    = link.created_at
    - if logged_in?
      = link_to "Remind me", reminders_path(:user_id => current_user.id, :link_id => link.id), :method => :post, :remote => true, :id => "#{ dom_id(link)}_reminder" 
  .clear
