%li{:id => "#{dom_id(link)}_li"}
  .left
    = link_to link.title, link.url, :target => :blank, :class => "resource_link", :id => "#{dom_id(link)}"
    = " - #{link.save_count} saves"
    = " - #{link.clicks.count} clicks"
    = " - created by #{link.user.email}" if link.user.present?
    = render '/links/click_form', :link_id => link.id
  .right Posted #{time_ago_in_words(link.created_at)}
  .clear
