= javascript_include_tag 'sidebar'

.sidebar
  %ul
    - if logged_in?
      %li.user_info
        - user = @user || current_user
        .image
          - if user.get(:image).present?
            - image = image_tag user.get(:image)
            = link_to image, short_user_path(user)
        .name
          = user.nickname
    - if @topic
      %h3 By topic
      = render '/layouts/nav_link', :paths => [topic_path(@topic)], :text => @topic.title, :target => topic_path(@topic)
      - if logged_in?
        = render '/layouts/nav_link', :paths => [topic_user_path(@topic, current_user)], :text => "your #{@topic.title}", :target => topic_user_path(@topic, current_user)
    %h3 By user
    - if @user && @user != current_user
      = render '/layouts/nav_link', :paths => [short_user_path(@user), user_path(@user)], :text => @user.nickname, :target => short_user_path(@user)
    - if logged_in?
      = link_to 'mine', '#', :class => 'mine'
      = render '/layouts/nav_link', :paths => [short_user_path(current_user), user_path(current_user)], :text => 'yours', :target => short_user_path(current_user)
    = render '/layouts/nav_link', :paths => [public_codemarks_path], :text => 'everyone\'s', :target => public_codemarks_path

    %h3 Sort by
    %li.sort
      = link_to 'date', '#', :class => 'date'
    %li.sort
      = link_to 'count', '#', :class => 'count'
    %li.sort
      = link_to 'visits', '#', :class => 'visits'

    %h3 Search
    %li
      = render '/layouts/search', :prefix => '', :placeholder => 'Autocomplete topics...'
      .centered or
      .full.site_search
        = text_field_tag 'search', '', :placeholder => 'Search codemarks...', :id => 'site_search'
        = submit_tag 'Search', :class => 'btn primary small', :id => 'site_search_submit'
