= javascript_include_tag 'sidebar'

.sidebar
  %ul
    - if logged_in?
      %li.user_info
        - user = @user || current_user
        .image
          - if user.get(:image).present?
            - image = image_tag user.get(:image)
            = link_to image, short_user_path(user)
        .name
          = user.nickname
    - if @topic
      %h3 By topic
      = render '/layouts/nav_link', :text => @topic.title, :klass => 'topic', :data_type => 'topic-id', :data => @topic.id, :user => @user
      - if logged_in?
        = render '/layouts/nav_link', :text => "your #{@topic.title}", :klass => 'your_topic', :data_type => 'topic-id', :data => @topic.id, :user => @user
    %h3 By user
    - if @user && @user != current_user
      = render '/layouts/nav_link', :text => @user.nickname, :klass => 'theirs', :data_type => nil, :data => nil, :user => @user
    - if logged_in?
      = render '/layouts/nav_link', :text => 'yours', :klass => 'yours', :data_type => nil, :data => nil, :user => current_user
      = render '/layouts/nav_link', :text => 'everyone\'s', :klass => 'public', :data_type => nil, :data => nil, :user => nil

    %h3 Sort by
    %li.sort
      = link_to 'date', '#', :class => 'date', :'data-by' => 'date'
    %li.sort
      = link_to 'count', '#', :class => 'count', :'data-by' => 'count'
    %li.sort
      = link_to 'visits', '#', :class => 'visits', :'data-by' => 'visits'

    %h3 Search
    %li
      = render '/layouts/search', :prefix => '', :placeholder => 'Autocomplete topics...'
      .centered or
      .full.site_search
        = text_field_tag 'search', '', :placeholder => 'Search codemarks...', :id => 'site_search'
        = submit_tag 'Search', :class => 'btn primary small', :id => 'site_search_submit'
