.sidebar
  %ul
    - if logged_in?
      %li.user_info
        .image
          - if current_user.get(:image).present?
            - image = image_tag current_user.get(:image)
            = link_to image, short_user_path(current_user)
        .name
          = current_user.nickname
      %li{:class => active_page_class(short_user_path(current_user))}
        .text= link_to 'yours', short_user_path(current_user)
    - if @user && @user != current_user
      %li{:class => active_page_class(short_user_path(@user))}
        .text= link_to @user.nickname, short_user_path(@user)
    %li{:class => active_page_class(public_codemarks_path)}
      .text= link_to 'everyone\'s', public_codemarks_path
    %li.search
      = render '/layouts/search', :prefix => '', :placeholder => 'Search for a topic...'
