.sidebar
  %ul
    - if logged_in?
      %li.user_info
        .image
          - if current_user.get(:image).present?
            - image = image_tag current_user.get(:image)
            = link_to image, short_user_path(current_user)
        .name
          = current_user.nickname
    %h3 Filter by
    - if logged_in?
      %li.nav{:class => active_page_class([short_user_path(current_user), user_path(current_user)])}
        .nav_info
        .text= link_to 'yours', short_user_path(current_user)

    - if @user && @user != current_user
      %li.nav{:class => active_page_class([short_user_path(@user), user_path(current_user)])}
        .nav_info
        .text= link_to @user.nickname, short_user_path(@user)
    - if @topic
      %li.nav{:class => active_page_class([topic_path(@topic)])}
        .nav_info
        .text= link_to @topic.title, @topic
    %li.nav{:class => active_page_class([public_codemarks_path])}
      .nav_info
      .text= link_to 'everyone\'s', public_codemarks_path

    %h3 Sort by
    %li.sort{:class => sort_class('date', true)}
      .nav_info
      = link_to "date", url_for(:only_path => false, :by =>  :date)
    %li.sort{:class => sort_class('count')}
      .nav_info
      = link_to "count", url_for(:only_path => false, :by =>  :count)
    %li.sort{:class => sort_class('visits')}
      .nav_info
      = link_to "visits", url_for(:only_path => true, :by => :visits)
    - if @codemarks
      - pagination = paginate(@codemarks, :window => 5, :param_name => :page)
      - if pagination.present?
        %h3 Pagination
        %li= paginate @codemarks, :window => 5, :param_name => :page

  = render '/layouts/search', :prefix => '', :placeholder => 'Search for a topic...'
