!!!
%html
  %head
    %title Codemarks
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    = csrf_meta_tags

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'

    = yield :header

    :javascript
      window.CURRENT_USER = "#{current_user.try(:slug)}"
      window.CURRENT_USER_ID = "#{current_user.try(:id)}"

    - if ENV['RAILS_ENV']=='production'
      = javascript_include_tag 'google_analytics'
      = javascript_include_tag 'uservoice'

  %body
    .content-wrapper
      = render '/layouts/header'
      = render '/layouts/flash', :flash => flash
      .site_content
        #main_content{:class => page_class}
          = yield
      = render '/layouts/footer'

    - if ENV['RAILS_ENV']=='production'
      = javascript_include_tag 'socketListener'
      = javascript_include_tag 'http://js.pusher.com/1.12/pusher.min.js'
