<!DOCTYPE html>
<html>
<head>
  <title>Bookmark killer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <%= render 'layouts/flash', :flash => flash %>
    <%= link_to "Add Link", new_link_path %>
    <%= yield %>
  </div>

</body>
</html>
