!!!
%html
  %head
    %title Codemarks
    = stylesheet_link_tag    'application'

    = javascript_include_tag 'application'
    = javascript_include_tag 'codemark_form'

    = yield :header

    = csrf_meta_tags
    - if ENV['RAILS_ENV']=='production'
      = javascript_include_tag 'google_analytics'

  %body
    .header_wrapper
      .header_coloring
    #container
      = render '/layouts/header'
      = (render '/layouts/search', :prefix => '', :placeholder => 'Search for a topic...') if logged_in?
      #content
        = render '/layouts/flash', :flash => flash
        = yield
      = render 'layouts/footer' if logged_in?
