!!!
%html
  %head
    %title Bookmark killer
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header_wrapper
      .header_coloring
    #container
      #header
        #logo= link_to "Resource Manager", root_path
        = render '/layouts/authentication'
        .clr
      #highlights
        = render '/layouts/search', :prefix => ""
        = render '/layouts/top_links'
        .clear
      #content
        = render '/layouts/flash', :flash => flash
        #link_form_container
          = render '/links/first_form'
        = yield
        .clear
    -# if ENV['RAILS_ENV'] == 'development'
      .color1 c1
      .color2 c2
      .color3 c3
      .color4 c4
      .color5 c5
      .color6 c6
      .clear
