!!!
%html
  %head
    %title Codemarks
    = stylesheet_link_tag    'application'

    = javascript_include_tag 'application'
    = javascript_include_tag 'codemark_form'

    = yield :header

    = csrf_meta_tags
    - if ENV['RAILS_ENV']=='production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27809122-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    .header_wrapper
      .header_coloring
    #container
      = render '/layouts/header'
      = (render '/layouts/search', :prefix => '', :placeholder => 'Search for a topic...') if logged_in?
      #content
        = render '/layouts/flash', :flash => flash
        = yield
      = render 'layouts/footer' if logged_in?
