!!!
%html
  %head
    %title Codemarks
    = stylesheet_link_tag    'application', :debug => true
    = javascript_include_tag 'application', :debug => true
    = javascript_include_tag 'codemark_form', :debug => true

    = yield :header

    = csrf_meta_tags
    - if ENV['RAILS_ENV']=='production'
      = javascript_include_tag 'google_analytics'

  %body
    = render '/layouts/header'
    #container
      = (render '/layouts/search', :prefix => '', :placeholder => 'Search for a topic...') if logged_in?
      #content
        = render '/layouts/flash', :flash => flash
        = yield
      = render 'layouts/footer' if logged_in?
