!!!
%html
  %head
    %title Bookmark killer
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header_wrapper{:class => "#{logged_in? ? '' : 'guest'}"}
      .header_coloring
    #container
      = render '/layouts/header'
      #content
        = render '/layouts/flash', :flash => flash
        = yield
        .clear
    -# if ENV['RAILS_ENV'] == 'development'
      .color1 c1
      .color2 c2
      .color3 c3
      .color4 c4
      .color5 c5
      .color6 c6
      .clear
