!!!
%html
  %head
    %title Bookmark killer
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if ENV['RAILS_ENV'] == 'development'
      .color1 bl
      .color2 vc
      .color3 66
      .color4 gr
      .color5 bc
      .color6 bl
      .clear
    .header_wrapper
    #container
      #header
        #logo= link_to "Hello Resource Manager", root_path
        = render '/layouts/authentication'
        .clr
      #highlights
        = link_to "Add Link", new_link_path, :id => 'add_link_link', :class => 'rounded_button'
        = render '/layouts/mine'
        .clear
      #content
        = render '/layouts/flash', :flash => flash
        #link_form_container
          = render '/links/first_form'
        = yield
        .clear
