!!!
%html
  %head
    %title Bookmark killer
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header_wrapper
    #container
      #header
        = link_to "Hello Resource Manager", root_path
        = render '/layouts/authentication'
        .clr
        = render '/layouts/mine'
        = link_to "Add Link", new_link_path, :id => 'add_link_link'
      = render '/layouts/flash', :flash => flash
      #link_form_container
        = render '/links/first_form'
      = yield
