!!!
%html
  %head
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    'codemarklet'
    = javascript_include_tag 'application'
    = javascript_include_tag 'codemark_form'
    %title Codemarks
    = csrf_meta_tags
  %body
    = yield
