!!!
%html
  %head
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    'codemarklet'
    = javascript_include_tag 'codemarklet'

    = csrf_meta_tags

    - if ENV['RAILS_ENV']=='production'
      = javascript_include_tag 'google_analytics'

    :javascript
      window.CURRENT_USER = "#{current_user.try(:slug)}"

  %body.codemarklet
    = yield
