!!!
%html
  %head
    %title Codemarks
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'codemark_form'
    = javascript_include_tag 'uservoice'

    = yield :header

    - if ENV['RAILS_ENV']=='production'
      = javascript_include_tag 'google_analytics'

  %body
    = render '/layouts/header'
    .site_content
      .content
        = render '/layouts/flash', :flash => flash
        = yield
    = render 'layouts/footer'

